@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";

@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/container";
@import "./layouts/table";

body{
    margin: 0;
    display: flex;
    flex-direction: column;
  }