//Mise en forme du container
@mixin resto($size, $bckgrnd-mn, $fnt-rst, $fnt-menu-sz, $fnt-mn, $clr-mn) {
    background-color: $bckgrnd-mn;
    & a {
        // Grossir la balise a sans grossir la balise parent
        //https://www.w3schools.com/howto/howto_css_zoom_hover.asp
        transition-property: transform;
        transition-duration: 700ms;
        &:hover {
            transform: scale(1.25);
            opacity: 0.5;
        }
    }
    //Ombrage de chaque menu appliquer à la class resto
    filter: drop-shadow(1px 1px 1px grey);
    h2, p{
        color: $clr-mn;
    }
    h2{
        font-family: $fnt-rst;
        font-size: $size;
    }
    p{
        font-family: $fnt-mn;
        font-size: $fnt-menu-sz;
    }
}
//Mise en forme du tableau menu
@mixin container_menu($bckgrnd-mnu, $fnt-rsto, $clr-mn, $fnt-corp) {
    background-color: $bckgrnd-mnu;
    h2{
        color: $clr-mn;
        font-family: $fnt-rsto;
    }
    th{
        font-family: $fnt-corp;
    }
    td{
        font-family: $fnt-corp;
    }
}
//Animation du titre souligne des menus
//https://www.grafikart.fr/tutoriels/hover-souligner-css-1178
@mixin titre_souligne ($color){
    &__titre {
        //color: inherit;
        text-decoration: none;
        background: linear-gradient(to top, $color 0%, $color 10%, transparent 10.01%) no-repeat;
        background-size: 0 100%;
        transition: background-size .5s;
        &:hover {
            background-size: 100% 100%;
        }
    }
}