$color-primary: #579c87;
$color-secondary: #fdcb46;

$color-menu1: #3C1218;
$color-menu2: #C77412;
$color-menu2-plat: #a56799;
$color-menu2-dessert: #8f5bfe;
$color-menu3: #0228DD;
$color-menu3-plat: #0670f3;
$color-menu3-dessert:#229df9;
$color-menu4: #42973C;

$background-menu1: #fcdfdb;
$background-menu2: #fff5fe;
$background-menu3: #edefef;
$background-menu4: #FDFFFD;

$font-primary: 'Montserrat';
$font-resto1: 'Caveat';
$font-resto2: 'Farsan';
$font-resto3: 'Dancing Script';
$font-resto4: 'Kaushan Script';
$font-menu: 'Farsan';
$font-menu-size: xx-large;