$color-primary: #579c87;
$color-secondary: #fdcb46;

$color-menu1: #3C1218;
$color-menu2: #C77412;
$color-menu3: #0887FB;
$color-menu4: #42973C;

$background-menu1: #fcdfdb;
$background-menu2: #fff5fe;
$background-menu3: #F9F9F9;
$background-menu4: #FDFFFD;

$font-primary: 'Montserrat';
$font-resto1: 'Caveat';
$font-resto2: 'Farsan';
$font-resto3: 'Dancing Script';
$font-resto4: 'Kaushan Script';
$font-menu: 'Farsan';
$font-menu-size: xx-large;