.container{
    font-family: $font-primary;
    padding-bottom: 30%;
    p {
        text-align: center;
        font-weight: bold;
        font-size: x-large;
    }
    // Index Page des restos
    .restos{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        // Index Chaque resto
        .resto{
            text-align: center;
            width: 20%;
            height: 450px;
            margin: 3%;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                text-decoration: none;
            }
            p{
                margin-top: 1%;
            }
            &__un{
                img{
                    width: 50px;
                }
                p{
                    text-transform: uppercase;
                    font-weight: bold;
                }
                @include resto($background-menu1, $font-resto1, $font-menu-size, $font-menu, $color-menu1);
            }
            &__deux{
                p {
                    font-weight: bold;
                }
                @include resto($background-menu2, $font-resto2, $font-menu-size, 'sans-serif', $color-menu2);
                h2{
                    //Degrader de couleur.
                    background-image: linear-gradient(45deg, $color-menu2, $color-menu2-dessert);
                    color: transparent;
                    -webkit-background-clip: text;
                }
            }
            &__trois{
                @include resto($background-menu3, $font-resto3, $font-menu-size, $font-menu, $color-menu3);
            }
            &__quatre{
                @include resto($background-menu4, $font-resto4, $font-menu-size, $font-menu, $color-menu4);
            }
        }
        // Prochainement
        +.soon {
            border-radius: 10px;
            background: $color-primary;
            width: 300px;
            padding-left: 90px;
            margin-left: auto;
            margin-right: auto;
            align-self: flex-end;
            display: flex;
            p{
                color: $color-secondary;
                &:after {
                    margin-right: 2px;
                    overflow: hidden;
                    display: inline-block;
                    vertical-align: bottom;
                    //Animation Point de suspension
                    animation: ellipsis steps(4, end) 1000ms infinite;
                    content: "\2026";
                    /* ascii code for the ellipsis character */
                    width: 0px;
                }
            }
        }
    }
    //Pages de chaque menu
    .menu{
        height: auto;
        width: 85%;
        padding-top: 2%;
        padding-bottom: 5%;
        margin: auto;
        >h2{
            font-size: 400%;
            text-align: center;
        }
        &__un{
            &__illust{
                img{
                    width: 50px;
                    margin: 0 auto;
                    display: block;
                }
            }
            &__entree{
                @include titre_souligne($color-menu1);
            }
            &__plat {
                @include titre_souligne($color-menu1);
            }
            &__dessert {
                @include titre_souligne($color-menu1);
            }
            @include container_menu($background-menu1, $font-resto1, $color-menu1, $font-menu);
            footer{
                text-align: center;
                font-size: x-large;
                font-family: $font-resto1;
                display: flex;
                justify-content: center;
                img{
                    width: 30px;
                    display: block;
                }
            }
        }
        &__deux {
            @include container_menu($background-menu2, $font-resto2, $color-menu2, $font-menu);
             h2 {
                 //Degrader de couleur
                background-image: linear-gradient(45deg, $color-menu2, $color-menu2-dessert);
                color: transparent;
                -webkit-background-clip: text;
             }
             &__entree {
                 color: $color-menu2;
                 @include titre_souligne($color-menu2);
             }
             &__plat {
                 color: $color-menu2-plat;
                 @include titre_souligne($color-menu2-plat);
             }
             &__dessert {
                 color: $color-menu2-dessert;
                 @include titre_souligne($color-menu2-dessert);
             }
        }
        &__trois {
            @include container_menu($background-menu3, $font-resto3, $color-menu3, $font-menu);
            &__entree{
                @include titre_souligne($color-menu3);
            }
            &__plat {
                @include titre_souligne($color-menu3-plat);
            }
            &__dessert {
                @include titre_souligne($color-menu3-dessert);
            }
        }
        &__quatre {
            @include container_menu($background-menu4, $font-resto4, $color-menu4, $font-menu);
            &__entree{
                @include titre_souligne($color-menu4);
            }
            &__plat {
                @include titre_souligne($color-menu4);
            }
            &__dessert {
                @include titre_souligne($color-menu4);
            }
        }
    }
}

@media (max-width: 1366px) {
    .container {
            .restos {
                flex-wrap: wrap;
                margin: 2%;
                .resto {
                    width: 400px;
                    height: 500px;
                }
            }
    }
}
@media (max-width: 425px) {
    .container {
        .restos {
            .resto {
                width: 250px;
                height: 300px;
                margin: 2% auto;
            }
            +.soon {
                width: 50%;
                padding-left: 40px;

                >p {
                    font-size: small;
                }
            }
        }

        .menu {
            width: 100%;
        }
    }
}
@media (max-width: 320px) {
    .container{
        .restos{
            .resto{
                font-size: x-small;
                width: 200px;
                height: 300px;
            }
            + .soon {
                padding-left: 4px;
            }
        }
    }
}