.container{
    font-family: $font-primary;
    padding-bottom: 10%;
    margin: 0 10%;
    p{
        text-align: center;
        font-weight: bold;
        font-size: x-large;
    }
    .restos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .resto{
            text-align: center;
            width: 250px;
            height: 350px;
            margin: 3%;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                text-decoration: none;
            }
            p{
                margin-top: 1%;
            }
            &__un{
                img{
                    width: 50px;
                }
                p{
                    text-transform: uppercase;
                    font-weight: bold;
                }
                @include resto($background-menu1, $font-resto1, $font-menu-size, $font-menu, $color-menu1);
            }
            &__deux{
                p {
                    font-weight: bold;
                }
                @include resto($background-menu2, $font-resto2, $font-menu-size, 'sans-serif', $color-menu2);
            }
            &__trois{
                @include resto($background-menu3, $font-resto3, $font-menu-size, $font-menu, $color-menu3);
            }
            &__quatre{
                @include resto($background-menu4, $font-resto4, $font-menu-size, $font-menu, $color-menu4);
            }
        }
    }
    .soon{
        border-radius: 10px;
        background: $color-primary;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        align-self: flex-end;
        display: flex;
        justify-content :center;
        >p{
            color: $color-secondary;
        }
        span:after{
            
            animation: PtsSuspension steps(1, end) 1s infinite;
            content: '';
        }
    }
    .menu{
        padding-top: 2%;
        margin: auto;
        height: 900px;
        width: 85%;
        >h2{
            font-size: xx-large;
            text-align: center;
        }
        &__un{
            &__illust{
                img{
                    width: 50px;
                    margin: 0 auto;
                    display: block;
                }
            }
            @include menu($background-menu1, $font-resto1, $color-menu1);
            footer{
                font-size: x-large;
                font-family: $font-resto1;
                display: flex;
                justify-content:center;
                img{
                    width: 30px;
                    display: block;
                }
            }
        }
        &__deux {
            @include menu($background-menu2, $font-resto2, $color-menu2);
        }
        &__trois {
            @include menu($background-menu3, $font-resto3, $color-menu3);
        }
        &__quatre {
            @include menu($background-menu4, $font-resto4, $color-menu4);
        }
    }
}