#footer{
    position: fixed;
    width: 97%;
    z-index: 9999;
    background: $color-primary;
    padding: 0 2%;
    margin: 0;
    bottom: 0;
    display: flex;
    justify-content : space-between;
  }
  #footer a{
      color: $color-secondary;
      text-decoration: none;
  }