#footer{
    position: fixed;
    width: 100%;
    background: $color-primary;
    margin: 0;
    bottom: 0;
    >div{
        padding: 0 3%;
        margin: 2% auto;
        display: flex;
        justify-content : space-between;
        >a{
            font-family: $font-primary;
            font-weight: bold;
            font-size: x-large;
            color: $color-secondary;
            text-decoration: none;
            &:hover{
                animation: shake 0.5s;
                animation-iteration-count: infinite;
            }
        }
    }
}
@media (max-width: 600px) {
    #footer {
        >div{
            >a{
                font-size: smaller;
                text-align: center;
            }
        }
    }
}
@media (max-width: 320px) {
    #footer {
        >div {
            display: flex;
            flex-direction: column;
        }
    }
}