table{
    margin: 5% auto;
    width: 80%;
    font-size: 150%;
    img{
        height: 20%;
        margin: auto 3%;
    }
    th{
        height: 80px;
        text-align: center;
        padding-bottom: 2%;
        font-size: 200%;
        >span{
            display: flex;
            align-items: center;
            justify-content: center;
            >img{
                width: 30%;
            }
        }
    }
    td{
        height: 35px;
        padding-bottom: 1%;
        // Colonne des plats
        &:nth-child(1) {
            padding-right: 2%;
        }
        // Colonne des prix
        &:nth-child(2){
            text-align: right;
            vertical-align: top;
        }
    }
}
@media (max-width: 768px) {
    table {
        th {
            font-size: 100%;
        }
        td {
            font-size: 75%;
        }
    }
}
@media (max-width: 320px) {
    table{
        th{
            font-size: 100%;
        }
    }

    /*table{
        margin: 0 auto;
        width: 100%;
        tr{
            display: flex;
            justify-content: center;
            flex-direction:column;
        }
        th {
            display: flex;
            justify-content: center;
            >span > img{
                display: none;
            }
        }
        td{
            text-align: center;
            display: flex;
            justify-content: center;
            // Colonne des plats
            &:nth-child(1) {
                height: auto;
            }
            // Colonne des prix
            &:nth-child(2) {
                justify-content: center;
            }
        }
    }
    */
} 