table{
    margin: 5% auto;
    width: 80%;
    img{
        height: 20%;
        margin: auto 3%;
        //display: block;
    }
    tr:hover{
        background-color: #f2f2f2;
    }
    th{
        font-family: $font-resto1;
        font-size: xx-large;
        height: 80px;
        vertical-align: bottom;
        text-align: center;
        // display: flex;
        // justify-content: space-between;
    }
    td{
        height: 35px;
    }
}
/* En column
table{
    margin: 0 auto;
    thead {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    tr{
        display: flex;
        justify-content: center;
        flex-direction:column;
    }
    td{
        width: 100%;
        display: flex;
        justify-content: center;
    }
} */